job "minecraft" {
  datacenters = ["{{ datacenter }}"]
  type        = "service"

  group "server" {
    count = 1

    network {      
      port "minecraft-java" {
        static = {{ minecraft_server_port }}
      }
      
      port "rcon" {
        static = {{ minecraft_rcon_port }}
      }

      port "minecraft-bedrock" {
        static = {{ minecraft_bedrock_port }}
      }
    }

    service {
      name = "minecraft-server-java"
      port = "minecraft-java"
    }

    service {
      name = "minecraft-server-bedrock"
      port = "minecraft-bedrock"
    }

    task "minecraft" {
      driver = "raw_exec"

      config {
        command = "{{ minecraft_server_executable }}"
      }

      resources {
        cpu    = {{ minecraft_server_cpu }}
        memory = {{ minecraft_server_memory }}
      }
    }
  }
}
