job "{{ github_actions_job_name }}" {
  datacenters = ["{{ datacenter }}"]
  type        = "service"

  group "actions-runner" {
    count = 1

    task "actions-runner" {
      driver = "raw_exec"

      {% if gh_actions.env is defined %}
      env {
        {% for key, value in gh_actions.env.items() %}
        {{ key }} = "{{ value }}"
        {% endfor %}
      }
      {% endif %}

      config {
        command = "{{ github_actions_executable }}"
      }

      resources {
        cpu    = 20
        memory = 10240
      }
    }
  }
}
